@page
@model MVC_MySQL.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Seguro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Seguro.Id" />
            <div class="form-group">
                <label asp-for="Seguro.NumApolice" class="control-label"></label>
                <input asp-for="Seguro.NumApolice" class="form-control" />
                <span asp-validation-for="Seguro.NumApolice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seguro.CpfCnpj" class="control-label"></label>
                <input asp-for="Seguro.CpfCnpj" class="form-control" />
                <span asp-validation-for="Seguro.CpfCnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seguro.Placa" class="control-label"></label>
                <input asp-for="Seguro.Placa" class="form-control" />
                <span asp-validation-for="Seguro.Placa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seguro.ValPremio" class="control-label"></label>
                <input asp-for="Seguro.ValPremio" class="form-control" />
                <span asp-validation-for="Seguro.ValPremio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
